html,
body {
  margin: 0;
  height: 100%;
}
#root{
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}
.nav-mob-container{
    width: 100%;
    height: 40px;
    background-color: greenyellow;
    position: fixed;
}
.nav-mob-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-mob-icon{
    padding-right: 15px;
}
.nav-desk-container{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}
.nav-desk-wrapper{
    display: flex;
}

.ladder-mob-container{
    background-color: grey;
}
.ladder-mob-wrapper{
    background-color: beige;
    padding: 2px;
}
.ladder-mob-player{
    margin-top: 2px;
    margin-left: 4px;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: groove;
}

.ladder-desk-container{
    background-color: cornflowerblue;
}
.ladder-desk-wrapper{
    background-color: beige;
    padding: 2px;
}
.ladder-desk-player{
    margin-top: 2px;
    margin-left: 4px;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: groove;
}

.reg-mob-container{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
.reg-mob-wrapper{
    padding: 2px;
}
.reg-desk-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.reg-desk-wrapper{
    height: 100%;
    width: max(500px, 30%);
}

