@media only screen and (max-width: 576px) {
  .content-panel {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .nav-desk-container {
    display: none;
  }
  .side-panel {
    display: none;
  }
  .main-panel {
    background-color: darkseagreen;
    height: 100%;
    width: 100%;
  }
  .player-popup-container {
    width: 85%;
    min-height: 50px;
    position: absolute;
    top: 50px;
    left: 25px;
    z-index: 3001;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .login-popup-container {
    display: none;
  }
  .register-container {
    width: 100%;
    height: 100%;
  }
  .register-personal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: beige;
    padding: 10px;
  }
  .register-sport-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .register-wrapper {
    width: 100%;
    height: 100%;
  }
  .register-desktop {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .content-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .nav-desk-container {
    height: 40px;
    background-color: #00ff00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;
  }
  .side-panel {
    background-color: #f0f0f0;
    position: fixed;
    width: 250px;
    left: 0;
    top: 40px;
    bottom: 0;
  }
  .main-panel {
    background-color: darkseagreen;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 250px;
    overflow-y: auto;
    z-index: 6;
  }

  .player-popup-container {
    width: 400px;
    min-height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3000;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .login-popup-container {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 3000;
    background-color: cadetblue;
    border-radius: 6%;
  }
  .register-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .register-personal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7%;
    background-color: beige;
    padding: 10px;
  }
  .register-sport-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 7%;
    background-color: beige;
  }
  .register-wrapper {
    padding: 40px;
    width: 360px;
  }
  .register-desktop {
    width: 100%;
    height: 100%;
    background-color: orchid;
  }
}
