html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}
.my-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden !important;
  padding-right: 0 !important;
  position: absolute;
  z-index: 0;
}
.my-row {
  display: table;
  height: 40px;
  width: 100%;
  margin: 0;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.test {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 200px;
  height: 30px;
  z-index: 5;
  background-color: crimson;
}

.my-body {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 6;
}
.content-panel {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 7;
}
.mob-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.mobile-header-container {
  width: 100%;
}
.nav-mob-container {
  width: 100%;
  height: 40px;
  background-color: #00ff00;
  position: absolute;
}
.nav-mob-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.menu-icon-wrapper-mob {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-mob-icon {
  padding-right: 15px;
}
.filter-button-mob {
  position: absolute;
  height: 40px;
  left: 30px;
  background-color: black;
}
.nav-dropdown-mob {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 99;
  background-color: white;
  border-radius: 5px;
  padding-inline: 6px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-dropdown-item {
}

.nav-desk-wrapper {
  display: flex;
}

.ladder-wrapper {
  background-color: beige;
  padding: 2px;
}
.ladder-mob-player {
  margin-top: 2px;
  margin-left: 4px;
  border-bottom: 2px;
  border-color: black;
  border-bottom-style: groove;
}
.sidebar-container {
  background-color: beige;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}
.sidebar-wrapper {
  background-color: black;
  padding: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-mob-container {
  background-color: beige;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}
.filter-mob-wrapper {
  background-color: black;
  padding: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-btn-wrapper {
  background-color: black;
  position: absolute;
  top: 5px;
  left: 15px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-btn-target {
  color: white;
}
.player-container-mob {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  border-bottom: solid;
}

.player-popup-wrapper {
  width: 100%;
  height: 100%;
  padding: 6px;
}
.player-popup-tail {
  position: absolute;
  left: 8px;
  bottom: -8px;
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.ladder-desk-container {
  background-color: cornflowerblue;
}
.ladder-desk-wrapper {
  background-color: beige;
  padding: 2px;
}
.ladder-desk-player {
  margin-top: 2px;
  margin-left: 4px;
  border-bottom: 2px;
  border-color: black;
  border-bottom-style: groove;
}
.login-mob-container {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.login-mob-wrapper {
  padding: 2px;
}

.reg-mob-container {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}
.reg-mob-wrapper {
  padding: 2px;
}
.reg-mob2-container {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.reg-mob2-wrapper {
  padding: 10px;
  background-color: beige;
  width: 100%;
  height: 100%;
}
.reg-mob2-sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: chartreuse;
  margin-top: 6px;
}
.reg-mob2-btn-container {
  display: flex;
  width: 100;
  justify-content: center;
  margin-top: 20px;
}
.reg-desk-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.reg-desk-wrapper {
  height: 100%;
  width: max(500px, 30%);
}
.pp-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-item {
  padding-top: 10px;
}
