html,
body {
  margin: 0;
  height: 100%;
}
#root{
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}
.mob-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.nav-mob-container{
    width: 100%;
    height: 40px;
    background-color: greenyellow;
    position: absolute;
}
.nav-mob-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}
.menu-icon-wrapper-mob{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mob-icon{
    padding-right: 15px;
}
.filter-button-mob{
    position: absolute;
    height: 40px;
    left: 30px;
}
.nav-dropdown-mob{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 99;
    background-color: white;
    border-radius: 5px;
    padding-inline: 6px;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-dropdown-item{
}

.nav-desk-container{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}
.nav-desk-wrapper{
    display: flex;
}

.ladder-mob-container{
    background-color: grey;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}
.ladder-mob-wrapper{
    background-color: beige;
    padding: 2px;
}
.ladder-mob-player{
    margin-top: 2px;
    margin-left: 4px;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: groove;
}

.ladder-desk-container{
    background-color: cornflowerblue;
}
.ladder-desk-wrapper{
    background-color: beige;
    padding: 2px;
}
.ladder-desk-player{
    margin-top: 2px;
    margin-left: 4px;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: groove;
}
.login-mob-container{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}
.login-mob-wrapper{
    padding: 2px;
}

.reg-mob-container{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}
.reg-mob-wrapper{
    padding: 2px;
}
.reg-desk-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.reg-desk-wrapper{
    height: 100%;
    width: max(500px, 30%);
}

.cursor-pointer{
    cursor: pointer;
}